build-CG-T1-Desktop_Qt_5_9_1_MinGW_32bit-Debug/
build-CG-T2-Desktop_Qt_5_9_1_MinGW_32bit-Debug/
T3/build-CG-T3-Desktop_Qt_5_9_1_MinGW_32bit-Debug/
T4/build-CG-T4-Desktop_Qt_5_9_1_MinGW_32bit-Debug/
T4/build-CG-T4-Desktop_Qt_5_9_1_MinGW_32bit-Release/
*.pro.user